
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
    --poppins : "poppins",sans-serif, Arial;
    --heading : "IBM Plex Mono",sans-serif, Arial;
    --btn-txt : "Sora",sans-serif, Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 79px;
    position: relative;
    /* background-color: aqua; */
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar ul li {
    list-style: none;
    text-align: justify;
    margin: 25px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    font-size: large;
    color: black;
    transition: all 0.2s ease;
}

.navbar ul li a:hover {
    cursor: pointer;
    color: rgb(109, 106, 106);
}


.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 0;
    border-radius: 2px;
    background-color: black;
    transition: width 0.3s cubic-bezier(.4, 0, .2, 1);
}

.navbar ul li a:hover:after {
    width: 100%;
}

.logo {
    margin-top: 3px;
    margin-left: 50px;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: var(--heading);
}

.hero-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-photo {
    /* background-color: aqua; */
    height: 400px;
    width: 400px;


}

.hero-photo img {
    height: 400px;
    border-radius: 50%;
    box-shadow: 0px 0px 65px 1.01px rgba(176, 173, 173, 0.44);
}

.hero-text {
    /* background-color: aqua; */
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#hero-text1 {
    color: grey;
    font-weight: 500;
}

#hero-text2 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
}
#hero-text3 {
    color: rgb(66, 64, 64);
    font-weight: bolder;
    font-size: 35px;
}
.btn-container{
    /* background-color: aqua; */
    margin-top: 8px;
    width: 75%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-container button{
    font-family: var(--btn-txt);
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 22px;
    width: 130px; 
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(53, 53, 53);
    transition: all 300ms ease;
}
.btn-container button:hover{
    color: white;
    background-color: rgb(53, 53, 53);
}

.social-media {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.social-media .icons a img {
    height: 32px;
}